.ChatRoom {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: 1000;

    &--Invisible {
        display: none;
    }
    &--Nav {
        align-self: flex-end;
    }
    &--Flex {
        display: flex;
    }
    &--Icon {
        border-radius: 30px;
        padding: 0.7rem;
        background: #ff4646;
        color: white;
    }
    &--Inner {
        max-width:90vw;
        max-height:75vh;
        width:400px;
        height:500px;
        min-height:300px;
    }
}

@media screen and (max-width: 750px) {
  .ChatRoom--Inner {
    max-width:75vw;
    max-height:75vh;
    width:350px;
    height:500px;
    min-height:300px;
  }
}

.ChatRoom--Invisible {
    display: none;
}