.ChatRoom {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;

    &--Invisible {
        display: none;
    }
    &--ToggleButton {
        justify-content: flex-end;
    }
    &--Flex {
        display: flex;
    }

    &--Inner {
        max-width:90vw;
        max-height:75vh;
        width:400px;
        height:500px;
        min-height:300px;
    }
}

@media screen and (max-width: 750px) {
  .ChatRoom--Inner {
    max-width:75vw;
    max-height:75vh;
    width:350px;
    height:500px;
    min-height:300px;
  }
}

.ChatRoom--Invisible {
    display: none;
}